<header>
    <div class="container-lg clearfix">
        <div class="col-12 header">
            <a class="title-main" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
            {{ with .Site.Params.subTitle }}
            <span class="title-sub">{{ . }}</span>
            {{ end }}
        </div>
        <!--<div class="">
            <a href='https://api.netlify.com/api/v1/badges/e18a01a4-94a8-4185-aa55-887cc1984c14/deploy-status'>Netlify Deploy Status</a>
            [![Netlify Status](https://api.netlify.com/api/v1/badges/e18a01a4-94a8-4185-aa55-887cc1984c14/deploy-status)](https://app.netlify.com/sites/raghsonline/deploys)
        </div>-->
    </div>
</header>